body{
    font-family:Arial,sans-serif ;
    margin: 20px;
    border-style: hidden;
    color: black;
    background-color: gray;
}
.form-submit-button {
    background: #B9DFFF;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
 }

 .form-submit-button:hover {
        background: #016ABC;
        color: #fff;
        border: 1px solid #eee;
        border-radius: 20px;
        box-shadow: 5px 5px 5px #eee;
        text-shadow: none;
}

label{
    display: block;
    margin-bottom: 8px;
}
input,
select,
textarea{
    padding: 10px;
    margin-bottom: 16px;
    color: blue;
}
.container{
    color: rgb(102, 255, 0);
    display: flex;
    
}
main{
    display: flex;
    flex: 5;
}
footer{
    justify-content: center;
    text-align: center;
    font-weight: ;
    margin-left: 10px;
    background-color: #1edfec;
    border-top: 3px double rgb(255, 255, 255);
    border-bottom: 3px double rgb(255, 255, 255);
}
aside{

    background-color: rgb(103, 74, 12);
    margin: 12px;
    padding-left: 12px;
}

p{
    color: rgb(255, 255, 255);
    text-decoration: dotted;
}

h1{
    color: rgb(255, 255, 255);
    border-bottom: 3px double rgb(255, 255, 255);

}

h2{
    color: rgb(255, 255, 255);

    border-bottom: 3px double rgb(255, 255, 255);
}

head{
    border: 10px;
}

span{
    background-color: #c6941e;
    text-align: center;
    display: block;
}

.flex container{
    display: flex;
    justify-content: space-evenly;
    align-items: column;
    margin bottom:30px;
}
.flex item{
    background-color: #3498db;
    color:white;
    padding:10px;
    margin:5px;
}

.grid item{
    display:grid;
    grid-template-columns: repeat(4,1fr)
    grid-gap: 10px;
}
.grid item{
    background-color:#2ecc71;
    color:white;
    padding:20px;
    text-align:center;
}